// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'gm', sans-serif;
$font-family-headers: 'Beebs',sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
// $teal: #4dc0b5;
$teal: #6095A3;
$cyan: #6cb2eb;
$grey: #999;

/* Gutters */
$gutter-site: 50px;
$gutter-site-mobile: 25px;
$gutter-grid: 25px;

.grey {
	color: $grey;
}

/* Range Sliders */
$track-color: #999 !default;
$thumb-color: $teal !default;

$thumb-radius: 3px !default;
$thumb-height: 6px !default;
$thumb-width: 6px !default;
$thumb-shadow-size: 0px !default;
$thumb-shadow-blur: 0px !default;
$thumb-shadow-color: rgba(0, 0, 0, 0) !default;
$thumb-border-width: 0px !default;
$thumb-border-color: #eceff1 !default;

$track-width: 100% !default;
$track-height: 1px !default;
$track-shadow-size: 0px !default;
$track-shadow-blur: 0px !default;
$track-shadow-color: rgba(0, 0, 0, 0) !default;
$track-border-width: 0px !default;
$track-border-color: #cfd8dc !default;

$track-radius: 0px !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;