
// Variables
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'datepicker';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

// Bootstrap @import '~bootstrap/scss/bootstrap';
.flex {
    @include flexbox;
}
.flex--wrap {
    @include flex-wrap(wrap);
}
.flex--justify-space-between {
    @include justify-content(space-between);
}
.flex--align-center {
    @include align-items(center);
}
a {
    color: inherit;
    text-decoration: none;

}
.rte a {
    text-decoration: underline;
}
a.no-underline {
    text-decoration: none !important;
}
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 2em;
}
.rte ul {
    list-style-type: disc;
    margin-left: 1em;
    li {
        margin-bottom: 1em;
    }
}
.rte p {
    line-height: 1.618;
}
html,body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'gm',sans-serif;
    background: #f0f0f0;

}
hr {
    margin: 1em 0;
    border: 0;
    border-bottom: 1px solid $grey;
}
.hr--double-margin {
    margin: 2em 0;
}
.container {
    padding: 0 $gutter-site;
    max-width: 1380px;
    margin: 0px auto;
    @include phone {
        padding: 0 $gutter-site-mobile;
    }
}
.teal {
    color: $teal;
}
.container--thin {
    max-width: 900px;
    margin: 0px auto;
    //width: 90%;
}
.container--tiny {
    // width: 90%;
    max-width: 600px;
    margin: 0px auto;
}
h1,h2,h3,h4 {
    margin-top: 0;
    small {
        font-family: 'gm';
        font-size: 12px;
        color: #999;
        letter-spacing: normal;
        display: inline-block;
    }
}
h1,.h1 {
    font-size: 36px;
    font-family: 'beebs';
    letter-spacing: .025em;
}
h2,.h2 {
    font-size: 28px;
    font-family: 'beebs';
    letter-spacing: .025em;
}
h3,.h3 {
    font-size: 24px;
    font-family: 'beebs';
    letter-spacing: .05em;
}
h4,.h4 {
    font-size: 18px;
    font-family: 'beebs';
    letter-spacing: .05em;
}
label {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: .5em;    
    font-size: 12px;
    color: #333;
}
input:not([type=checkbox]):not([type=submit]),
textarea
{
    border: 1px solid #dfdfdf;
    background: #f0f0f0;
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
    font-family: 'gm';
    padding: 10px;
    outline: 0;
    &:focus {
        border-color: $teal;
        box-shadow: 0 0 3px $teal;
    }
    &:disabled {
        background: #f9f9f9;
        border-color: transparent;
    }
}
select {
    display: block;
    font-size: 16px;
    font-family: 'gm', sans-serif;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    margin: 0;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f0f0f0;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
}
.field {
    margin-bottom: 1em;
}
.btn {
    font-family: 'beebs';
    font-size: 16px;
    background: #dfdfdf;
    display: inline-block;
    text-align: center; 
    padding: 10px 15px;
    letter-spacing: 1px;
    text-decoration: none !important;
    color: #333;
    @include desktop {
        max-width: 200px;    
    }
    -webkit-box-shadow: 0px 0px 5px 0px rgba(205,205,205,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(205,205,205,0.5);
    box-shadow: 0px 0px 5px 0px rgba(205,205,205,0.5);
    border-radius: 3px;
    cursor: pointer;
}
.btn--primary {
    min-width: 200px;
    max-width: 100%;
    font-size: 20px;
    background-color: #437588;
    background: linear-gradient(#559eae,#437588) !important;
    box-shadow: inset 0 1px 1px #b0d9e2 !important;
    border-color: #316172 #316172 #244e5d !important;
    text-shadow: 0 0 3px rgba(0,0,0,.75) !important;
    color: white;
    text-align: center;
    @include phone {
        max-width: 100%;
        width: 100%;
    }
}
.btn--secondary {
    background-color: #ebebeb;
    //background: linear-gradient(#ebebeb,#dfdfdf) !important;
    //box-shadow: inset 0 1px 1px #dfdfdf !important;
    border-color: #dfdfdf #dfdfdf #dfdfdf !important;
}
.btn--dark {

    background-color: #ebebeb;
    background: linear-gradient(#222526,#000000) !important;
    //box-shadow: inset 0 1px 1px #dfdfdf !important;
    color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(85,85,85,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(85,85,85,0.5);
    box-shadow: 0px 0px 5px 0px rgba(85,85,85,0.5);
    // border-color: #dfdfdf #dfdfdf #dfdfdf !important;
}
.btn--small {
    padding: 5px 10px;

}
.btn--full {
    width: 100%;
    max-width: 100%;
}
.link--small {
    font-size: 80%;
    color: #999;
    text-decoration: none;
    &:after {
        content: ' >';
    }
}
.grid {
    margin-left: -$gutter-grid;
    .grid__item {
        padding-left: $gutter-grid;
    }
}

.grid--no-gutters {
  margin-left: 0;

  .grid__item {
    padding-left: 0;
}
}

.grid--half-gutters {
  margin-left: -($gutter-grid / 2);

  > .grid__item {
    padding-left: $gutter-grid / 2;
}
}

.grid--double-gutters {
  margin-left: -($gutter-grid * 2);

  > .grid__item {
    padding-left: $gutter-grid * 2;
}
}
.grid--uniform {
    > .grid__item {
        width: 100%;
    }
}

#main-header {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.main-nav {
    background: #222526;
    text-transform: uppercase;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-family: 'beebs';
    font-size: 18px;
    padding: 5px 0;
    a {
        color: white;
        text-decoration: none;
        font-weight: normal;
    }
}
.main-nav__admin-link {
    margin-right: $gutter-grid;
}
.main-nav__user-links {
    @include flexbox();
    @include align-items(center);
}
.main-nav__user-link {
    padding: 3px 5px;
    border-radius: 2px;
    background-color: rgba(255,255,255,.15);
    // font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0.05em;
    position: relative;
}
.main-nav__user-wrapper {
    position: relative;
    display: inline-block;
    .user-drop-wrap.show {
        top: 100%;
        opacity: 1;
        visibility: visible;
    }
    @include desktop {
        &:hover .user-drop-wrap {
            top: 100%;
            opacity: 1;
            visibility: visible;
        }
    }
}
.main-nav__login {
    margin-left: 25px;
}
.top-search-wrapper {
    position: relative;
}
#top-search {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 0;
    opacity: 1;
    @include transition();
    input[type=text] {
        font-size: 10px;
        padding: 5px;
        width: 165px;
    }
    input[type=submit] {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}
#top-search-results {
    position: absolute;
    top: 100%;
    left: -4%;
    width: 108%;
    display: none;
    background: #222526;
    color: white;
    padding: 1em 1em 0;
    text-transform: none;
    font-size: 12px;
    font-family: 'gm';
    h4 {
        margin-bottom: .25em;
    }
    img {
        vertical-align: middle;
        margin-right: 10px;
    }
    li {
        margin-bottom: 1em;
    }
    .tsr__user {
        margin-bottom: 1em;
        a {
            font-weight: bold;
        }
    }
    .tsr__users {
        margin-bottom: 0;
    }
}
.user-drop-wrap {
    position: absolute;
    top: 80%;
    right: 0;
    @include desktop {
        right: auto;
        left: -50%;    
    }
    
    margin-left: -75%;
    width: 200px;
    z-index: 600;
    padding-top: 24px;
    white-space: nowrap;
    border-radius: 3px;
    @include transition();
    visibility: hidden;
    opacity: 0;
}
.user-drop {
    background: #424546;
    color: white;
    display: block;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
    padding: 0px 0;
    border-radius: 3px;
    ul {
        margin: 0;
    }
    &:after {
        bottom: 100%;
        left: 82%;
        @include desktop {
            left: 65%;    
        }
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(66, 69, 70, 0);
        border-bottom-color: #424546;
        border-width: 10px;
        margin-left: -10px;
    }
    a {
        display: block;
        padding: 10px 0;
        text-shadow: 1px 1px 1px #000;
        @include transition();
        @include desktop {
            &:hover {
                background: #222526;
            }
        }
    }
}
.tiny-profile-pic {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border: 2px solid rgba(255,255,255,0.75);
    border-radius: 3px;
    vertical-align: middle;
}
.logo svg {
    vertical-align: top;
}

#main-content {
    padding-top: 44px;
    background: white;
    padding-bottom: $gutter-site;
}
.main-footer {
    background: #f0f0f0;
    padding: $gutter-site 0;
    // margin-top: $gutter-site;
    li {
        line-height: 1.8;
    }
    .even-column:nth-child(1) {
        margin-bottom: 2em;
    }
}
@include desktop {
    .newsletter-column {
        min-width: 400px;
    }
}
.footer-signup {
    input {
        background: white !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &.error {
            border-color: #ab1a1a;
        }
    }
    .btn {
        border: 0;
        background: #222526;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: white;
        min-width: 90px;
    }
    .flex {
        @include phone {
            @include flex-direction(column);
            input {
                text-align: center;
            }
            .btn {
                margin-top: 10px;
                width: 100%;
            }
        }
    }
}
.breadcrumb {
    font-size: 10px;
    color: #999;
    li {
        display: inline-block;
        &:after {
            content:' / ';
        }
    }
    a {
        text-decoration: none;
    }
}
/* Homepage */
.current-prompts {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
    border-radius: 2px;
    position: relative;
    padding: 20px;
    background: #222526;
    color: white;
    @include desktop {
        margin-left: -7%;
        width: 114%;
    }
    margin-bottom: 2em;
    h2 {
        margin-top: 0;
        margin-bottom: .5em;
    }
    .prompt {
        padding: .5em 0;
    }
    .current-prompt {
        margin: 0;
        a {
            text-decoration: none;
            padding: .5em 10px;
            display: block;
            font-size: 13px;
            text-decoration: none;
            text-transform: uppercase;

            background: rgba(255,255,255,.1);
            font-weight: bold;
            font-family: 'gm';
        }
    }
    &.current-prompts__admin {
        margin-left: 0px;
        width: 100%;
    }
}
.prompt,
.showcase {
    position: relative;
    .fa-certificate {
        position: absolute;
        color: $teal;
        right: 101%;
    }
}

/* Profile Page */
.main-profile-pic {
    width: 100%;
    width: calc(100% + 50px);
    margin-left: -$gutter-site-mobile;
    margin-top: -$gutter-site-mobile;
    @include desktop {
        width: 114%;
        margin-left: -7%;
        margin-top: 0;
        border: 5px solid white;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        border-radius: 2px;
    }
    position: relative;
    img {
        width: 100%;
        vertical-align: top;
    }
    .profile-name {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: auto;
        text-decoration: none;
        padding: 5px;
        background: rgba(255,255,255,.9);
        font-family: 'beebs';
        font-size: 28px;
    }
    .edit-profile {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: white;
        font-size: 18px;
        opacity: .5;
        .fa-cog {
            text-shadow: 0px 0px 5px rgba(0, 0, 0, .75);
        }
    }
}
.profile__quote {

}
.profile__meta {
    font-size: 80%;
    .profile__social-links li {
        display: inline-block; 
        margin-right: 10px;
        font-size: 18px;
    }
}
.profile-edit__image {
    width: 150px;
    img {
        width: 100%;
        height: auto;
    }
}
.profile-edit__image-input {
    padding-left: $gutter-site;
}
.sidebar {
    max-width: 300px;
    width: 20%;
    // padding-top: $gutter-site;
    will-change: min-height;
    &.is-fixed {
        position: fixed;
        top: 55px;
    }
    .sidebar__inner{
        padding: ($gutter-site / 2) 0;
        @include phone {
            padding: $gutter-site-mobile 0;
        }
        transform: translate(0, 0); /* For browsers don't support translate3d. */
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
    }
}
#fade { 
    display: none;
    width: 100%; 
    height: 30px;
    position: fixed;
    top: 44px; 
    left: 0;
    z-index: 400;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
#page-content {
    position: relative;
}
.main {
    width: 80%;
    @include desktop {
        padding-right: 250px;
        padding-top: $gutter-site / 2;
        padding-left: 75px;
    }
    &.no-right-padding {
        padding-right: 0;
    }
    &.no-top-padding {
        padding-top: 0;
    }

}
body.no-user .main {
    position: relative;
    .please-login {

        background: rgba(255,255,255,.75);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%,-50%));
            a {
                color: black;
            }
        }
    }
}
@include desktop {
    .submit-song__wrapper {
        position: absolute;
        top: $gutter-site / 2;
        right: 200px;
        .submit-song {
            width: 200px;
            position: fixed;
            display: block;
        }
    }
}

.post {
    position: relative;
    padding-bottom: 1em;
    // max-width: 500px;
    .post-prompt {
        color: #999;
        position: absolute;
        margin: 0;
        top: 0;
        right: 0;
    }
    .bars {
        display: none;
    }
    &.is-playing {
        .bars {
            display: block !important;
        }
    }
}
.post__cover {
    width: 50px;
    @include desktop {
    width: 100px;
    }
    @include phone {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        height: auto;
        vertical-align: top;
    }
    .play-pause-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 30px;
        width: 50px;
        height: 50px;
        line-height: 48px;
        text-align: center;
        border: 1px solid white;
        border-radius: 50%;
        color: white;
        opacity: .1;
        @include transition();
        @include tablet {
            font-size: 18px;
            line-height: 28px;
            width: 30px;
            height: 30px;
            opacity: .75;
        }
    }
}
@include desktop {
    .post:hover {
        .post__cover .play-pause-btn {
            opacity: 1;
        }
    }
}
.post__inner {
    @include align-items(flex-start);
}
.post__detail {
    padding: 0px 0 10px 0px;
    @include desktop {
        padding-top: 10px;
        padding-left: 10px;
    }
    width: 100%;
    .bars {
        position: absolute;
        top: 46px;
        right: 00px;
        height: 10px;
    }
    .progress {
        position: relative;
        top: 1px;
        width: 0;
        height: 1px;
        background: #6095A3;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
    }
}
.post__lyrics {
    padding: 0 1em 1em;
    line-height: 1.35;
    @include desktop {
        padding-left: 110px;    
    }
    font-size: 13px;
}
.post_title {
    color: #6095A3;
    margin-bottom: .5em;
    @include phone {
        padding-right: 60px;
    }
    margin-top: 0;
}
.post_artist {
    font-size: 12px;
    margin-bottom: 1em;
    display: block;
     @include phone {
        padding-right: 60px;
    }
}
.post__buttons {
    padding-top: .5em;
    border-top: 1px solid #dfdfdf;
    a {
        padding: 5px 10px;
        display: inline-block;
        vertical-align: middle;
        color: #999;
        font-size: 10px;
    }
    .the-tag {
        text-transform: capitalize;
        float: right;
        padding-right: 0;
    }
    .like.liked {
        color: $teal;
    }
    @include tablet {
        a:nth-child(1) {
            padding-left: 0;
        }
    } 
}
.the-tag--mobile {
    color: #999;
    font-size: 12px;
    display: block;
    margin-bottom: 1em;
}
.post__comments {
    @include desktop {
        padding: 0 0 1em 100px;    
        font-size: 13px;
        button[type="submit"] {
            display: none;
        }
    }
    line-height: 1.35;
}
@include phone {
    .comment-form {
        @include flexbox();
    }
}
.post__comment {
    padding: 5px 0;
    &.even {
        background: #f6f6f6;
    }
    &.odd {
        background: white;
    }
}
.post__comment--user {
    margin-right: 10px;
    border-radius: 3px;
    overflow:hidden;
    img {
        vertical-align: top;
    }
}
.comment-form {
    margin-top: 10px;
    border-radius: 3px;
    position: relative;
    @include arrow-top(10px, #ebebeb, 0, transparent, 45px);
    input[type=text] {
        background: #ebebeb;
        border-color: transparent;
        font-size: 13px;
    }
    input[type=submit] {
        display: none;
    }
}
.next-showcase {
    h4 {
        margin-bottom: .25em;
    }
    h3 {
        margin-top: 0;
    }
}
.im-going {
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 3px;
    min-height: 18px;
    text-align: left;
    padding: 0;
    background-origin: border-box;
    display: inline-block;
    position: relative;
    cursor: pointer;
    @include transition();
    color: #333;
    .icon {
        background: #dfdfdf;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        min-width: 0;
        width: 30px;
        display: inline-block;
        text-align: center;
        border: 1px solid #eee;
        /* vertical-align: middle; */
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        font-size: 17px;
        @include transition();
        i {
            position: absolute;
            top: 44%;
            left: 50%;

            @include transform(translate(-50%,-50%));
        }
    }
    .button-text {
        // min-width: 51px;
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'beebs';
        margin-left: 30px;
        padding: 5px ($gutter-site / 4);
        letter-spacing: .05em;
    }
}
.im-going.liked {
    color: #437588;
    border-color: #6095a3;
    background: rgba(96,149,163,.1);
    box-shadow: inset 0 1px 1px #b0d9e2 !important;
    border-color: #316172 #316172 #244e5d !important;
    .icon {
        background: #6095a3;
        border-color: #6095a3;
        color: white;
        background: linear-gradient(#559eae,#437588) !important;
        text-shadow: 0 0 3px rgba(0,0,0,.75) !important;
    }
}

.anim-in {
    @include transition();
    opacity: 0;    
    visibility: visible;
}
.come-in {
  @include transform(translateY(50px));
  animation: come-in .25s ease-out forwards;
}
@keyframes come-in {
  to { transform: translateY(0px);-moz-transform: translateY(0px);-webkit-transform: translateY(0px); opacity: 1; }
}
.already-visible {
    opacity: 1;
    @include transform(translateY(0));
}

.user-card {
    position: relative;
    padding: 5px;
    background: #ebebeb;
    border: #dfdfdf;
    margin-bottom: 1em;
    border-radius: 3px;
    overflow: hidden;
    @include desktop {
        max-width: 300px;    
    }
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.user-card__image {
    width: 50px;
    margin-right: 10px;
    border-radius: 3px;
    overflow: hidden;
    border: 3px solid rgba(255,255,255,.5);
    img {
        width: 100%;
        height: auto;
        vertical-align: top;
    }
}
.user-card__info {
    a {
        text-decoration: none;
    }
}
.user-card__meta {
    color: #666;
    font-size: 12px;
    a {
        text-decoration: none;
    }
}
.user-mini-link {
    img {
        width: 100%;
        vertical-align: top;
    }
}

.even-columns {
    @include flexbox();
    margin-left: -$gutter-grid;
    > .even-column {
        width: 100%;
        padding-left: $gutter-grid;
    }
}

.one-sixth {
    width: 16.667%;
}
.one-fifth {
    width: 20%;
}
.one-fourth {
    width: 25%;
}
.one-third {
    width: 33%;
}
.one-half {
    width: 50%;
}
.one-whole {
    width: 100%;
}


.hr--invisible {
    visibility: hidden;
    opacity: 0;
}
.forgot-password__link {
    display: block;
    margin-top: 1em;
    font-size: 14px;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    // color: #155724;
    // background-color: #d4edda;
    // border-color: #c3e6cb;
    color: $teal;
    background: rgba($teal,.25);
    border-color: rgba($teal,.5);
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.admin-list {
    // margin-left: 1em;
    li {
        // display: block;
        margin-left: -.5em;
        padding: .5em;
        &:nth-child(even) {
            background: #f6f6f6;
        }
        label {
            margin-bottom: 0;
        }
    }
}
.admin-list__submissions {
    // margin-left: 0 !important;
    li {
        margin-left: 0;
    }   
    a {
        text-decoration: none;
    }
    small {
        font-size: 10px;
        margin-left: 10px;
    }
    .like-count {
        margin-right: 10px;
    }
}
.follow-btn {
    @include transition();
    i {
        visibility: hidden;
        opacity: 0;
        display: none;
        @include transition();
    }
    &.liked {
        background: black;
        color: white;
        i {
            display: inline;
            visibility: visible;
            opacity: 1;
        }
    }
}

.prompt-stats {
    min-width: 150px;
}


.star-spin {
    // animation:  bounceIn 2s ease-in-out 3s 3 forwards;
    // @include transition();  
    // color: red;
    // @include animation('star-spin 2s ease-out forwards');
    display: inline-block;
    animation: .25s 3 star-spin;
    animation-timing-function: ease-out;
}
@include keyframes(star-spin) {
  0% { 
    @include transform(rotate(0deg)); 
}
100% { 
    @include transform(rotate(360deg)); 
}
}

p.large-text {
    font-size: 18px;
    line-height: 1.8;
}
.welcome-note {
    line-height: 1.5;
    @include desktop {
        padding-right: $gutter-site * 2;
    }
}

.template--welcome {
    #main-content > .container {
        padding: 0;
        max-width: 100%;
    }
}
.welcome,
.error-page {
    background: url('/images/sc-bg.jpg') center center;
    // background-size: cover;
    padding: $gutter-site 0;
    min-height: 250px;
    margin-bottom: -$gutter-site;
}
.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
.user--followers-list {
    margin-top: $gutter-grid / 2;
    a {
        border: 2px solid white;
    }
}


#showcase-map {
    width: 100%;
    height: 300px;
}

time.icon {
  font-size: .75em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}
time.icon * {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
time.icon strong {
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: $teal;
  border-bottom: 1px dashed $teal;
  box-shadow: 0 2px 0 $teal;
}
time.icon em {
  position: absolute;
  bottom: 0.3em;
  color: $teal;
}
time.icon span {
  font-size: 2.2em;
  letter-spacing: -0.05em;
  padding-top: 1.2em;
  color: #2f2f2f;
}
@include desktop {
    .medium-up--hide,
    .desktop-up--hide {
        display: none;
    }
}
@include tablet {
    .medium--hide {
        display: none;
    }
    .medium--one-whole {
        width: 100%;
        max-width: 100%;
    }
}
@include tablet {
    .small--hide {
        display: none !important;
    }
    .small--text-center {
        text-align: center;
    }
    .small--flex-wrap {
        @include flex-wrap(wrap);
    }
    .small--flex--justify-center {
        @include justify-content(center);
    }
    .small--one-whole {
        width: 100%;
        max-width: 100%;
    }
    .small--container-normal {

    }
    .template--profile #fade {
        display: none;
    }
    .template--admin .anim-in.grid__item {
        margin-bottom: $gutter-site;
    }
    h1 span {
        display: block;
    }
    html,body {
        font-size: 16px;
    }
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-bottom: 5px;
  // margin-left: -80px;
  padding: 7px;
  // width: 160px;
  white-space: nowrap;
  width: auto;
  @include transform(translateX(-50%));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 11px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

.faq__item {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #f0f0f0;
    .faq__question {
        margin-bottom: .25em;
    }
}
$spacing: 15px;
.main-player {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $spacing 0;
    background: #f0f0f0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    @include tablet {
        .play-pause-btn {
            position: absolute;
            left: 15px;    
        }
        .main-player__like {
            position: absolute;
            right: 15px;
        }
    }
}
.main-player__volume-wrapper {
    position: relative;
    padding: $spacing;
    cursor: pointer;
    margin-top: -$spacing;
    margin-bottom: -$spacing;
    display: none;
}
.main-player__volume-slider {
    display: none;
    position: absolute;
    bottom: 57px;
    left: -100%;
    height: 30px;
    width: 100px;
    padding: 10px;
    background: #f0f0f0;
    @include transform(rotate(270deg));
    input {
        border: 0 !important;
    }
}
.main-player__current-time,
.main-player__total-time {
    min-width: 36px;
}

.volume__sliderWrapper {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 100px;
    background: #f0f0f0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    .volume__sliderInner {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .volume__sliderBackground {
        width: 2px;
        background: #ccc;
        position: absolute;
        // top: 10px;
        left: 50%;
        top: 0;
        height: 100%;
        // bottom: 10px;
    }
    .volume__sliderProgress {
        position: absolute;
        // bottom: 10px;
        bottom: 0;
        background: $teal;
        width: 2px;
        left: 50%;
    }
    .volume__sliderHandle {
        position: absolute;
        padding: 10px;
        left: -8px;
        margin-top: -10px;
    }
    .volume__sliderHandleInner {
        // position: absolute;
        // left: 50%;
        // margin-left: -3px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $teal;
    }
}

.main-player__image {
    width: 25px;
    border: 3px solid rgba(255,255,255,.5);
    border-radius: 3px;
    overflow: hidden;
    margin-right: $spacing;
    img {
        width: 100%;
        vertical-align: top;
    }
}
.main-player__title {
    // font-family: 'beebs';
    // color: $teal;
    padding-right: $spacing;
    font-size: 11px;
    // letter-spacing: .5px;
}
.main-player__prompt {
    padding-right: $spacing;
    i {
        vertical-align: middle;
    }
}
.main-player__prompt-name {
    font-size: 11px;
}
.main-player__playbar-wrapper {
    flex-grow: 1;
    font-size: 11px;
    padding-right: $spacing;
    @include tablet {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-right: 0;
    }
}
.main-player__playbar{
    flex-grow: 1;
    position: relative;
    @include desktop {
        margin: 0 $spacing;    
    }
}
.main-player__playbar--loading {
    background: #ccc;
    height: 2px;
    width: 0%;
    position: absolute;
}
.main-player__playbar--progress {
    height: 2px;
    width: 0;
    background: $teal;
    position: absolute;
}
.main-player__like {
    margin-left: 10px;
    &.liked {
        color: $teal;
    }
}
.inline-form {
    display: inline-block;
}

.float-right {
    float: right;
}

input[type=checkbox] {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    margin-top: -1px;
    background: rgba($teal,.5);
    border: 1px solid $teal;
    border-radius: 3px;
    @include transition();
  }

  // Box hover
  &:hover + label:before {
    background: $teal;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $teal;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 6px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
    @include transition();
  }
}
.special-field {
    display: none;
}

.play-all {
    // padding-top: 9px;
    display: inline-block;
    margin-left: 20px;
}

.has-notifications {
    position: absolute;
    top: -4px;
    right: -7px;
    font-size: 7px;
    font-weight: bold;
    background: $teal;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    text-align: center;
    line-height: 13px;
    color: white;
    font-family: $font-family-sans-serif;
}